<div class="jumbotron center">
  <h1>ALFA BLOG</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg" %>
<!--<%= link_to "about", about_path %>-->
<!--<%= link_to "articles", articles_path %>-->

</div>